{% extends "layout.twig" %}

{% block title %}${ "Shadowbox Settings" | translate("shadowbox") }{% endblock %}

{% block content %}
            <form id="sb_settings" class="split" action="{% admin "sb_settings" %}" method="post">
                <fieldset>
                    <p>
                        <label for="initSetup">${ "Show On Front Page" | translate("shadowboxs") }</label>
                        <textarea class="textarea" name="initSetup" style="height:80px;width:400px">${ site.module_sb.initSetup}</textarea>
                        <small>${ "See document for shadowbox configuration at: www.shadowbox-js.com" | translate("shadowboxs") }</small>
                    </p>
                    <p class="buttons">
                        <button type="submit" class="yay"><img src="$theme_url/images/icons/success.png" alt="success" />${ "Update" | translate }</button>
                    </p>

                    <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
                </fieldset>
            </form>
{% endblock %}
